<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-song">Create new song</a>
<h1>Songs</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Link</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="song : ${songs}">
        <tr>
            <td th:text="${song.id}"></td>
            <td th:text="${song.name}"></td>
            <td th:text="${song.type}"></td>
            <td th:text="${song.link}"></td>
            <td><a th:href="@{/edit-song/__${song.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-song/__${song.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>