<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<form th:action="@{/create-user}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>user Name:</td>
            <td>
                <input type="text" th:field="*{name}"/>
            </td>
            <td>
                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
            </td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>
                <input type="text" th:field="*{age}">
            </td>
            <td>
                <p class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</p>
            </td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>
                <input type="text" th:field="*{phone}"/>
            </td>
            <td>
                <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Name Error</p>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text" th:field="*{email}"/>
            </td>
            <td>
                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create user"></td>
        </tr>

    </table>
</form>
</body>
</html>